[project]
	description = An example project for using Geb in a Gradle build (Spock and JUnit 4)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/“The miracle is this - the more we share, the more we have.” (snair3)
[access "refs/for/refs/*"]
	read = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	push = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	label-Code-Review = -2..+2 group user/“The miracle is this - the more we share, the more we have.” (snair3)
	label-Verified = -1..+1 group user/“The miracle is this - the more we share, the more we have.” (snair3)
	rebase = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	removeReviewer = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	submit = group user/“The miracle is this - the more we share, the more we have.” (snair3)
[access "refs/heads/*"]
	read = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	create = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	push = +force group user/“The miracle is this - the more we share, the more we have.” (snair3)
	pushMerge = group user/“The miracle is this - the more we share, the more we have.” (snair3)
[access "refs/tags/*"]
	push = +force group user/“The miracle is this - the more we share, the more we have.” (snair3)
	pushTag = group user/“The miracle is this - the more we share, the more we have.” (snair3)
	pushSignedTag = group user/“The miracle is this - the more we share, the more we have.” (snair3)
